.App {
  text-align: center;
  align-items: center;
 
 
}

.App .card {
  max-width: 600px;
  width: 100%;
  text-align: center;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;  
  margin-top: 2rem;
  padding: 20px;

}

label.radio {
  display: block;
  text-align: left;
  padding: 15px;
  margin-bottom: 5px;
  font-size: 15px;
  border: 1px solid blueviolet;
}

label.radio+.radio {
  margin-left: 0;
}

label.radio input {
  margin-right: 15px;
}
